*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 123px;
    font-family: 'Open Sans', sans-serif;
    /* line-height: 22px; */
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 5px;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
}

header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .logo a {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    font-size: 18pt;
    font-weight: 400;
}

header .header-wrapper a img {
    height: 100px;
}

header .header-wrapper nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14pt;
    font-weight: 300;
    padding: 9px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

header .header-wrapper ul li {
    margin-left: 40px;
}

section.content-section {
    padding: 135px 0 100px;
}
